body{
    background-color: #cacdd1;
}

#titulo{
    font-family: 'Arsenal SC', sans-serif;
    text-align: center;
    color: rgb(70, 67, 67)
}

a:hover{
    color: rgb(99, 90, 90);
}

.link{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #333;
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.link2{
    position: absolute;
    top: 0;
    right: 1;
    padding: 10px;
    background-color: #333;
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.imagem-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    max-width: 100%;
}

.imagem-container img {
    width: 300px;
    height: auto;
    border-radius: 8px; 
}

.iframe-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    max-width: 100%; 
    flex-wrap: wrap; 
}

/* Estilos dos iframes */
.iframe-container iframe {
    width: 45%; /* Ajuste o tamanho conforme necessário */
    height: 300px; /* Altura fixa para os iframes */
    border-radius: 8px; /* Arredonda os cantos dos iframes */
    border: 2px solid #ddd; /* Adiciona borda leve */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
}