.dotted{
    border: 5px dotted blue;
}
.dashed{
    border: 5px dashed red;
}

.solid{
    border: 5px solid green;
}

.margin{
    margin: 10px;
}

.padding{
    padding: 10px;
}

.display_inline{
    display: inline;
}
.width_200{
    width: 200px;
}

.radius_10{
    border-radius: 20px;
}

#div_1{
    background-color: aqua;
    display: inline;
    border: 2px solidblack;
    position: relative;
    top: 100px;
    left: 100px;
}
