

.topo {
    background-color: #fee4c3;
    color: #307e27;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black;
    padding: 10px;
    font-family: COmic sans-serif;
    flex-wrap: wrap;
}

.topo .imagem {
    position: absolute;
    left: 40px;
}

.topo img {
    height: 100px;
    width: auto; 

}

.topo .imagem2{
    position: absolute;
    right: 40px;
}

.final{
    background-color: #fee4c3;
    color: black;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap;
    
}