body{
    background-color: #E188B2;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    background: white;
    padding: 20px;
    border-radius: 8px;
}