body {
    background-color: #66BCF2;
    margin: 0;
  }
  
  .topo {
    background-color: #6866F2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
  }
  
  .esquerda {
    position: absolute;
    left: 20px;
  }
  
  .direita {
    position: absolute;
    right: 20px;
  }
  
  .centro h1 {
    margin: 0;
    font-size: 28px;
    color: white;

  }
  
  .topo a {
    color: white;
    text-decoration: underline;
    font-size: 16px;
    margin-left: 10px;
  }
  
  .meio1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    position: absolute;
    right: 300px;
    color: white;
    width: 500px;
    height: 800px;
    margin: 50px;
    padding: 5px;
  }
  
  .nome {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }
  
  .numero {
    font-size: 16px;
    margin-top: 5px;
    text-align: center;
  }

  .meio2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    position: absolute;
    left: 300px;
    color: white;
    width: 500px;
    height: 800px;
    margin: 50px;
    padding: 5px;
  }
  
  .meio1 p{
    position: absolute;
    bottom: 300px;
  }

  .meio2 p{
    position: absolute;
    bottom: 300px;
  }